.recent-background {
    margin-top:3%;
    background-color:#2C2C2C;
    min-width:100%;
    min-height:600px;
}

.aui-top-exp-rec{
    position:relative;
    top:20px;  
}

.aui-top-thumb-rec {   
    position: relative;
    top: 50px;
    font-family: 'Open Sans', 'Roboto',Verdana, Arial,sans-serif;
}

.aui-background {
    background-color: white;
}

div.card{
    margin-bottom:10px;
}

h3.aui-top-button-all {
    position: relative;
    text-align: center;
    border: 1px solid white;
    margin-top: 90px;
    color: white;
    padding: 10px;
    min-width: 200px;
    max-width:300px;
}

a:link,a:hover{
    text-decoration:none
}


 div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}