<div class="row">
    <div class="bs-callout bs-callout-info" id="callout-helper-bg-specificity" style="border-left:4px solid #d9534f">
        <h1>Apresentação</h1>
        <p>
            Sou bacharel em ciência da computação e faço Pós em Engenharia de Software Orientada a Serviços na faculdade IBTA.
        </p>
        <p>
            Trabalho com  análise e programação de sistemas para Web utilizando Tecnologias Microsoft, 
            focando em boas práticas e qualidade de software para que assim efetue entregas de maior confiabilidade.
            Hoje atuo no desenvolvimento de software On Demand, ou seja, foco na necessidade do cliente.</p>
         <p>
            Apesar de meu maior conhecimento ser na plataforma .Net sou entusiasta em desenvolvimento Android, e adotei está plataforma para desenvolvimento móvel.
        </p>
    </div>
</div>

