﻿
    <link href="~/css/home_perfil.css" rel="stylesheet" async asp-append-version="true" />

@{
    ViewBag.Title = "Sobre";
}


<div class="container-fluid  margin-footer clearfix">

    <div class="container page-header mt-5 mb-3">
        <h1>Sobre<small class="text-muted">  -  história e conhecimentos em TI</small></h1>   <hr />
    </div>



    @{ await Html.RenderPartialAsync(@"About\_Formacao");  }


    <div class="container mt-5 mb-3">


        <div class="row">

            <div class="col-md-12">


                @{
                    await Html.RenderPartialAsync(@"About\_Conhecimento");
                }

                @{
                    await Html.RenderPartialAsync(@"About\_Experiencia");
                }

         

            </div>

        </div>

    </div>


</div>



