﻿@{
    ViewBag.Title = "Aplicações disponíveis para download";
}



<div class="container-fluid margin-footer clearfix">

    <div class="container page-header  mt-5 mb-3">

        <h1>Apps <small class="text-muted"> - para efetuar download e visualizar o código  </small></h1><hr />

    </div>



    <div class="container" id="container">

        <div class="row">

            <div class="col-md-12">
                <div class="card mb-12  m-2 bg-light">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <img src="/Images/apps/doacao_mais.jpg" class="card-img rounded " style="width:160px;height:190px" alt="Doação Mais">
                        </div>
                        <div class="col-md-10 ">
                            <div class="card-body">
                                <h5 class="card-title">Doação Mais</h5>
                                <p class="card-text">Desenvolvido Plataforma Android e linguagem Java utilizando serviços Google.</p>
                                <p class="card-text"><small class="text-muted">Android - Utilitário</small></p>
                                <a href="https://github.com/adilsonlustoza/doacao_mais" class="btn btn-outline-dark btn-sm" target="_blank"><span class="fab  fa-github " aria-hidden="true"></span>&nbsp;<span class="aui-font-button">código</span></a>
                                <a href="https://play.google.com/store/apps/details?id=br.com.lustoza.doacaomais" class="btn btn-outline-dark btn-sm" target="_blank"><span class="fa fa-download" aria-hidden="true"></span>&nbsp; <span class="aui-font-button">baixar</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-12 m-2 bg-light">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <img src="/Images/apps/campo_minado.png" class="card-img rounded " style="width:160px;height:190px" alt="Doação Mais">
                        </div>
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">Campo Minado</h5>
                                <p class="card-text">Desenvolvido em .Net Framework  usando Windows Forms e linguagem C#.</p>
                                <p class="card-text"><small class="text-muted">Windows - Jogo</small></p>
                                <a href="https://github.com/adilsonlustoza/Apps/tree/main/AppsWindows" class="btn btn-outline-dark btn-sm" target="_blank"><span class="fab  fa-github " aria-hidden="true"></span>&nbsp;<span class="aui-font-button">código</span></a>
                                <a href="https://drive.google.com/drive/folders/1UHB_ZnXQH-m04f08W1UZqYeBs2I8cagW?usp=sharing" class="btn btn-outline-dark btn-sm" target="_blank"><span class="fa fa-download" aria-hidden="true"></span>&nbsp; <span class="aui-font-button">baixar</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





