﻿

@{
    ViewBag.Title = "Home Page";}

<div>
    <div>
        <div class="row">
            @{ await Html.RenderPartialAsync(@"Index\_Carrossel");}
        </div>
    </div>

    <div>
        <div class="row">
            @{ await Html.RenderPartialAsync(@"Index\_QueFaco");}
        </div>
    </div>


    <div>
        <div class="row">
            @{
                await Html.RenderPartialAsync(@"Index\_Recentes");
            }
        </div>
    </div>


    <div>
        <div class="row">
            @{
                await Html.RenderPartialAsync(@"Index\_Sobre");
            }
        </div>
    </div>

</div>
