@model IEnumerable<AppPrivy.Application.ViewsModels.PesquisaViewModel>

@{
    ViewBag.Title = "Pesquisa";

}

<div class="container-fluid  margin-footer clearfix">

    <div class="container page-header  mt-5 mb-3">

        <h1>
            Pesquisa<small class="text-muted">
                - resultados encontrados (@{if (Model != null)
                    {@Html.Raw(Model.Count().ToString());
                }
                else
                { @Html.Raw("0");
            } })
            </small>
        </h1><hr />

    </div>

    <div class="container" id="container">

        <div class="row">
            <div class="col-md-12">

                @if (@Model != null && Model.Count() > 0)
                {


                    for (int i = 0; i < Model.Count(); i++)
                    {

                        <div class="card mb-2" float-left">
                            <div class="card-header">
                                <div class="card-title pt-2"><h4>@Model.ElementAt(i).Titulo</h4></div>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">@Model.ElementAt(i).Descricao</p>
                                <hr class="my-4">
                                <a href="@(string.Format("{0}", Model.ElementAt(i).Url))" class="btn btn-outline-secondary float-right">Saber mais </a>
                            </div>
                        </div>



                    }

                }

            </div>

        </div>
    </div>

</div>

