<style>
    .orangeBackgroundColor {
        min-width: 100%;
        min-height: 100px;
        background-color: #f0ad4e;
        position: relative;
        top: 0;    
       }

    .logo {    
        position: relative;      
        float: left;
        margin-left: 0.5%;
    }
</style>


<div class="orangeBackgroundColor">
    <div class="logo">
        
    </div>
</div>

