﻿/*-------------------------------------------------Menu Superior-------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    body {
        min-width: 100%;
        padding: 0;
        margin: 0;
    }
    .menu nav ul li a {
        display: none;
    }
    .menu {
        position: fixed;
        width: 100%;
        background-color: #3F3F3F;
        left: 0;
        top: 0;
        border-top: 3px solid #0085B2;
        z-index: 1000;
    }
    .menu nav ul {
        position: relative;
        margin: 0 auto;
        left: 0;
        height: 30px;
        float: right;
        width: 100%;
    }
    nav.container {
        display: none;
    }
    .mobile-hamburger {
        position: relative;
        min-height: 50px;
    }
    .mobile-hamburger-logo img {
        position: absolute;
        margin-left: 2.5%;
        margin-top: 1.0%;
        margin-right: 2.5%;
        margin-bottom: 1.5%;
        width: 140px;
        float: left;
    }
    div.menu-hamburger {
        position: relative;
        min-width: 60%;
        min-height: 30px;
        float: right;
        border: 1px solid #0085B2;
        display: inline-block;
        margin-top: 2%;
        margin-right: 5%;
        margin-left: 1%;
    }
    .menu-hamburger span:nth-child(1) {
        position: relative;
        top: 2px;
        color: white;
        font-size: large;
        font-stretch: ultra-condensed;
        float: left;
        margin-left: 10px;
    }
    .menu-hamburger span:nth-child(2) {
        position: relative;
        top: 1px;
        color: darkgoldenrod;
        font-size: large;
        font-stretch: ultra-condensed;
        float: right;
        margin-right: 10px;
    }
    .mobile-hamburger nav {
        position: relative;
        background-color: #0085B2;
        width: 2%;
        left: 35.0%;
        top: 17px;
        color: black;
        display: none;
        margin-top: 5.5%;
    }
    div.menu-hamburger span img {
        position: relative;
        width: 20px;
        cursor: pointer;
        background-color: white;
        margin-bottom: 25%;
    }
    .mobile-hamburger nav ul li a {
        position: relative;
        background-color: #0085B2;
        padding: 2px 0px 4px 5px;
        display: block;
        font-size: small;
        color: white;
        width: 30%;
        text-align: left;
        border-bottom: 1px solid #5bc0de;
        text-shadow: 3px 2px 5px #333C45;
        opacity: 0.95;
    }
    .mobile-hamburger nav ul li a:hover {
        text-decoration: none;
        cursor: pointer;
        color: white;
        text-shadow: 3px 2px 1px black;
    }
    .mobile-hamburger nav ul li span {
        margin-right: 10px;
        margin-left: 2px;
    }
    .mobile-hamburger>nav {
        display: none;
        position: absolute;
        margin-top: 5.5%;
    }
}


/**************************************************************Media 769***************************************************************/

@media only screen and (min-width: 768px) and (max-width:991px) {
    body {
        min-width: 100%;
    }
    .menu div.container-fluid nav.container ul {
        top: 8px;
    }
    .menu nav ul li img {
        position: relative;
        padding-right: 2px;
        float: left;
        top: 15px;
        width: 80px;
    }
    div.menu-hamburger {
        display: none;
    }
    div.mobile-hamburger {
        display: none;
    }
    .menu {
        position: fixed;
        width: 100%;
        background-color: #3F3F3F;
        left: 0;
        top: 0;
        border-top: 5px solid #0085B2;
        z-index: 1000;
        margin-bottom: 1%;
    }
    .menu nav ul {
        position: relative;
        height: 80px;
        float: left;
        width: 100%;
    }
    .menu nav ul li {
        display: inline-block;
        float: left;
        text-decoration: none;
        list-style-type: none;
        font-stretch: expanded;
        cursor: pointer;
        position: relative;
        margin-right: 1.5%;
        display: inline-block;
        top: 35px;
    }
    .menu nav ul li a {
        color: #fff;
        text-decoration: none;
        list-style-type: none;
        font-size: x-small;
        font-stretch: ultra-condensed;
    }
    .menu nav ul li:hover a {
        color: #5bc0de;
    }
    .menu nav ul li img {
        position: relative;
        top: -10px;
        width: 150px;
    }
    input#txtSearch {
        min-width: 90px;
        max-width: 110px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 23px;
        border: 2px solid #0085B2;
        display: block;
    }
    span.fa.fa-search {
        position: relative;
        width: 23px;
        left: 0px;
        top: 0px;
        background-color: #0085B2;
        padding: 1.7px;
        color: #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 2px solid #0085B2;
        display: block;
    }
    /*-------------------------------------------Menu Subservices---------------------------------------------------------*/
    nav.submenu {
        clear: both;
        position: absolute;
        display: block;
        top: 15px;
        left: -5px;
        width: 130px;
    }
    nav.submenu ul {
        position: absolute;
        display: block;
        background-color: #3F3F3f;
        padding-top: 20px;
        width: 120px;
        height: 110px;
        border-radius: 12px 12px;
        display: none;
    }
    nav.submenu ul li {
        position: relative;
        display: block;
        top: 10px;
        margin-left: 20px;
        float: left;
    }
    nav.submenu ul li:nth-child(1) a {
        border-bottom: none;
        color: white;
    }
    nav.submenu ul li:nth-child(2) a {
        border-bottom: none;
        color: white;
    }
    nav.submenu ul li:nth-child(3) a {
        border-bottom: none;
        color: white;
    }
    nav.submenu ul li:nth-child(1):hover a {
        border-bottom: none;
        color: #d9534f;
    }
    nav.submenu ul li:nth-child(2):hover a {
        border-bottom: none;
        color: #f0ad4e;
    }
    nav.submenu ul li:nth-child(3):hover a {
        border-bottom: none;
        color: #5cb85c;
    }
    /*   .menu div.container-fluid nav.container ul li:nth-child(5):hover nav.submenu ul {
        display: block;
    }*/
    nav.submenu ul li:nth-child(1) a:before {
        font-family: 'Font Awesome 5 Brands';
        content: "\f17a";
        font-size: 10px;
        float: left;
        margin-top: 7px;
        margin-left: -14px;
        color: #fff;
        position: relative;
    }
    nav.submenu ul li:nth-child(1):hover a:before {
        font-family: 'Font Awesome 5 Brands';
        content: "\f17a";
        font-size: 10px;
        float: left;
        margin-top: 7px;
        margin-left: -14px;
        color: #d9534f;
        position: relative;
    }
    nav.submenu ul li:nth-child(2) a:before {
        content: "\f4d5";
        font-family: 'Font Awesome 5 Brands';
        font-size: 10px;
        float: left;
        margin-top: 7px;
        margin-left: -14px;
        color: #fff;
    }
    nav.submenu ul li:nth-child(2):hover a:before {
        content: "\f4d5";
        font-family: 'Font Awesome 5 Brands';
        font-size: 10px;
        float: left;
        margin-top: 7px;
        margin-left: -14px;
        color: #f0ad4e;
        position: relative;
    }
    nav.submenu ul li:nth-child(3) a:before {
        content: "\f17b";
        font-family: 'Font Awesome 5 Brands';
        font-size: 10px;
        float: left;
        vertical-align: bottom;
        margin-top: 7px;
        margin-left: -14px;
        color: #fff;
        position: relative;
    }
    nav.submenu ul li:nth-child(3):hover a:before {
        content: "\f17b";
        font-family: 'Font Awesome 5 Brands';
        font-size: 10px;
        vertical-align: bottom;
        margin-top: 7px;
        float: left;
        margin-left: -14px;
        color: #5cb85c;
        position: relative;
    }
}


/**************************************************************Media 992***************************************************************/

@media only screen and (min-width: 992px) and (max-width:1199px) {
    body {
        min-width: 100%;
        padding-top: 9%;
    }
    .menu nav ul li img {
        position: relative;
        padding-right: 2px;
        float: left;
        top: 15px;
        width: 60px;
    }
    div.menu-hamburger {
        display: none;
    }
    div.mobile-hamburger {
        display: none;
    }
    .menu {
        position: fixed;
        width: 100%;
        background-color: #3F3F3F;
        left: 0;
        top: 0;
        border-top: 5px solid #0085B2;
        z-index: 1000;
        margin-bottom: 1%;
    }
    .menu nav ul {
        position: relative;
        margin: 0 auto;
        height: 100px;
        float: left;
        width: 100%;
        top: -0px;
    }
    .menu nav ul li {
        float: left;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Roboto', Verdana, Arial;
        font-stretch: expanded;
        cursor: pointer;
        position: relative;
        margin-right: 1.5%;
        display: inline-block;
        top: 45px;
    }
    .menu nav ul li a {
        color: #fff;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Roboto', Verdana, Arial;
        font-size: medium;
        font-stretch: ultra-condensed;
    }
    .menu nav ul li:hover a {
        color: #5bc0de;
        /*border-bottom: 3px solid #0085B2;*/
    }
    .menu nav ul li img {
        position: relative;
        top: -12px;
        margin-right: 5px;
        width: 150px;
    }
    input#txtSearch {
        width: 120px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 23px;
        border: 2px solid #0085B2;
        display: block;
    }
    span.fa.fa-search {
        position: relative;
        width: 23px;
        left: 0px;
        top: 0px;
        background-color: #0085B2;
        padding: 2.6px;
        color: #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 1px solid #0085B2;
        display: block;
    }
    /*-------------------------------------------Menu Subservices---------------------------------------------------------*/
    nav.submenu {
        clear: both;
        position: absolute;
        display: block;
        left: -10px;
        margin-top: 0px;
        width: 200px;
    }
    nav.submenu ul {
        position: absolute;
        display: block;
        background-color: #3F3F3f;
        width: 180px;
        height: 140px;
        border-radius: 12px 12px;
        display: none;
    }
    nav.submenu ul li {
        position: relative;
        top: 20px;
        display: block;
        padding-top: 8.0%;
        margin-left: 25px;
        float: left;
        border-bottom: none;
    }
    nav.submenu ul li:nth-child(1) a {
        border-bottom: none;
        color: white;
    }
    nav.submenu ul li:nth-child(2) a {
        border-bottom: none;
        color: white;
    }
    nav.submenu ul li:nth-child(3) a {
        border-bottom: none;
        color: white;
    }
    nav.submenu ul li:nth-child(1):hover a {
        border-bottom: none;
        color: #d9534f;
    }
    nav.submenu ul li:nth-child(2):hover a {
        border-bottom: none;
        color: #f0ad4e;
    }
    nav.submenu ul li:nth-child(3):hover a {
        border-bottom: none;
        color: #5cb85c;
    }
    /*  .menu div.container-fluid nav.container ul li:nth-child(5):hover nav.submenu ul {
        display: block;
    }
*/
    nav.submenu ul li a {
        border-bottom: none;
    }
    nav.submenu ul li:nth-child(1) a:before {
        font-family: 'Font Awesome 5 Brands';
        content: "\f17a";
        font-size: 14px;
        float: left;
        margin-top: 5px;
        margin-left: -17px;
        color: #fff;
        position: relative;
        margin-right: 1px;
        top: -5px;
    }
    nav.submenu ul li:nth-child(1):hover a:before {
        font-family: 'Font Awesome 5 Brands';
        content: "\f17a";
        font-size: 14px;
        float: left;
        margin-top: 5px;
        margin-left: -17px;
        color: #d9534f;
        position: relative;
        margin-right: 1px;
        top: -5px;
    }
    nav.submenu ul li:nth-child(2) a:before {
        content: "\f4d5";
        font-family: 'Font Awesome 5 Brands';
        font-size: 14px;
        float: left;
        margin-top: 5px;
        margin-left: -17px;
        color: #fff;
        position: relative;
        margin-right: 1px;
        top: -5px;
    }
    nav.submenu ul li:nth-child(2):hover a:before {
        content: "\f4d5";
        font-family: 'Font Awesome 5 Brands';
        font-size: 14px;
        float: left;
        margin-top: 5px;
        margin-left: -17px;
        color: #f0ad4e;
        position: relative;
        margin-right: 1px;
        top: -5px;
    }
    nav.submenu ul li:nth-child(3) a:before {
        content: "\f17b";
        font-family: 'Font Awesome 5 Brands';
        font-size: 14px;
        float: left;
        margin-top: 5px;
        margin-left: -17px;
        color: #fff;
        position: relative;
        margin-right: 1px;
        top: -5px;
    }
    nav.submenu ul li:nth-child(3):hover a:before {
        content: "\f17b";
        font-family: 'Font Awesome 5 Brands';
        font-size: 14px;
        float: left;
        margin-top: 5px;
        margin-left: -17px;
        color: #5cb85c;
        position: relative;
        margin-right: 1px;
        top: -5px;
    }
}


/*********************************************************1200******************************************************************************/

@media only screen and (min-width: 1200px)  {
    body {
        width: 100%;
    }

    div.menu-hamburger {
        display: none;
    }

    div.mobile-hamburger {
        display: none;
    }

    .menu {
        position: fixed;
        width: 100%;
        background-color: #3F3F3F;
        left: 0;
        top: 0;
        border-top: 5px solid #0085B2;
        z-index: 1000;
    }

        .menu nav ul {
            position: relative;
            margin: 0 auto;
            width: 100%;
            height: 110px;
            top: 10px;
        }




            .menu nav ul li {
                position: relative;
                text-decoration: none;
                list-style-type: none;
                font-stretch: expanded;
                cursor: pointer;
                margin-right: 1.675%;
                display: inline-block;
                top: 25px;
            }

    @supports (-ms-ime-align:auto) {
        .menu nav ul li {
            margin-right: 3.60%
        }

        .nav .submenu ul {
            width: 500px;
        }
    }

    .menu nav ul li:last-child {
        margin-right: 0;
    }

    .menu nav ul li a {
        color: #fff;
        text-decoration: none;
        list-style-type: none;
        font-family: 'Roboto', Verdana, Arial;
        font-size: medium;
        font-stretch: ultra-condensed;
    }

        .menu nav ul li a:hover {
            color: #5bc0de;
        }

    input#txtSearch {
        position: relative;
        width: 150px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        height: 26px;
        border: 2px solid #0085B2;
        color: #0085B2;
    }

    span.fa.fa-search {
        position: relative;
        left: 0px;
        top: 0px;
        background-color: #0085B2;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 25px;
        display: block;
    }

    div.menu nav ul li img {
        width: 220px;
        position: relative;
        top: -10px;
        margin-right: 0px;
    }
    /*-------------------------------------------Menu Subservices---------------------------------------------------------*/
    nav.submenu {
        clear: both;
        position: absolute;
        display: block;
        left: -10px;
        margin-top: 0px;
        width: 200px;
    }

        nav.submenu ul {
            position: absolute;
            background-color: #3f3f3f;
            padding-top: 0px;
            height: 150px;
            width: 510px;
            border-radius: 12px 12px;
            display: none;
            top: 48px;
            overflow-y: hidden;
            float: left;
        }

            nav.submenu ul li:nth-child(1) a {
                border-bottom: none;
                color: white;
            }

            nav.submenu ul li {
                position: relative;
                display: block;
                padding-top: 1.0%;
                margin-left: 16px;
                float: left;
                top: 5px;
            }

                nav.submenu ul li:nth-child(1) a {
                    border-bottom: none;
                    color: #d9534f;
                }

                nav.submenu ul li:nth-child(2) a {
                    border-bottom: none;
                    color: #f0ad4e;
                }

                nav.submenu ul li:nth-child(3) a {
                    border-bottom: none;
                    color: #5cb85c;
                }

                nav.submenu ul li:nth-child(1):hover a {
                    border-bottom: none;
                    color: #d9534f;
                }

                nav.submenu ul li:nth-child(2):hover a {
                    border-bottom: none;
                    color: #f0ad4e;
                }

                nav.submenu ul li:nth-child(3):hover a {
                    border-bottom: none;
                    color: #5cb85c;
                }

    .menu div.container-fluid nav.container ul li:nth-child(5):hover nav.submenu ul {
        display: block;
    }

    .menu div.container-fluid nav.container ul li:nth-child(5):hover nav.submenu:before {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        left: 23%;
        top: 25px;
        height: 0;
        width: 0;
        border-bottom: 15px solid #3F3F3F;
        border-top: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }

    nav.submenu:after {
        content: "";
        display: block;
        height: 100px;
        position: absolute;
        width: 190px;
    }

    .submenuSpanFont {
        width: 100%;
        text-align: justify;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-weight: bolder;
    }
}


