﻿<script src='~/js/own/portfolio.js' asp-append-version="true"></script>
<link href="~/css/home_portfolio.css" rel="stylesheet" asp-append-version="true" />

@{
    ViewBag.Title = "Post";
}



<div class="container-fluid margin-footer clearfix">

    <div class="container page-header  mt-5 mb-3">

        <h1>@ViewBag.Title<small class="text-muted">  - algumas funcionalidades desenvolvidas </small></h1><hr />

    </div>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
