﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="container-fluid margin-footer">

    <div class="container page-header  mt-5 mb-3">
        <h1>Login<small class="text-muted"> - acesso a área restrita </small></h1><hr />
    </div>

    <div class="container" id="container">


        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">                    
                        <div class="col-sm-12">
                                @if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>Atenção : </strong> @TempData["Message"]?.ToString()
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                }
                            </div>                       
                    </div>


                    <section id="loginForm">

                        <form id="account" method="post" class="form-horizontal" role="form" asp-route-returnurl="@ViewData["ReturnUrl"]">


                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Acessar área restrita" class="btn btn-outline-secondary float-left mr-2">
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-outline-secondary float-left mr-2">Esqueceu sua senha?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-secondary float-left mr-2">Registrar novo usuário</a>
                                </p>
                            </div>

                        </form>

                    </section>
                </div>
            </div>
        </div>
       
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


