@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de reinício de senha";
}


<div class="container-fluid margin-footer">

    <div class="container page-header  mt-5 mb-3">

        <h1>@ViewData["Title"] <small class="text-muted"> -  verifique a mensagem abaixo </small></h1><hr />


    </div>

    <div class="container" id="container">

        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    Sua senha foi reiniciada. Por favor, <a asp-page="./Login">clique aqui para logar</a>.
                </div>
            </div>

        </div>

    </div>

</div>
