﻿<div class="col-md-6 float-left">
    <div class="page-header mb-3 clearfix">
        <h4>Conhecimentos<small class="text-muted">  - especialidade TI </small></h4>
    </div>


    <p class="text-primary"><h4 class="text-muted aui-text-tab-know"> Aplicativos Android</h4></p>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="65" style="width: 45%;">
            45%
        </div>
    </div>

    <p class="text-primary"><h4 class="text-muted aui-text-tab-know">Sistemas para Web</h4></p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
            75%
        </div>
    </div>

    <p class="text-primary"><h4 class="text-muted aui-text-tab-know">Arquitetura de Software</h4></p>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="55" style="width: 55%;">
            55%
        </div>
    </div>

    <p><h4 class="text-muted aui-text-tab-know">Engenharia de Software</h4></p>

    <div class="progress">
        <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
        </div>
    </div>

</div>