﻿<div class="col-md-6 float-left">


    <div class="page-header mb-3">
        <h4>Experiência Profissional<small class="text-muted">  -  somente em TI </small></h4>
    </div>

    <div class="go-center">

        <ul class="nav nav-tabs" id="tab" role="tablist">
            <li class="nav-item min-vw-25"><a class="nav-link active aui-text-tab-head" href="#tab_1" data-toggle="tab" role="tab" aria-controls="tab_1" aria-selected="true">Iniciação Sistemas</a></li>
            <li class="nav-item min-vw-25"><a class="nav-link aui-text-tab-head" href="#tab_2" data-toggle="tab" role="tab" aria-controls="tab_2" aria-selected="false">Iniciação Frontend</a></li>
            <li class="nav-item min-vw-25 "><a class="nav-link aui-text-tab-head" href="#tab_3" data-toggle="tab" role="tab" aria-controls="tab_3" aria-selected="false">Minha Carreira</a></li>

        </ul>


        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_1">
                <br />

                <p>Atuei com desenvolvimento e manutenção em sistemas Web Java utilizando Grails na Ecil Energia, além de desenvolver serviços windows utilizando C# com a finalidade de leitura e interpretação de dados de remotas de captação de dados de energia.</p>
                <p class="text-primary">Minhas principais funções eram:</p>
                <ul>
                    <li>Programação de sistemas web utilizando Asp.Net e Grails</li>
                    <li>Programação de sistemas batch em C# e Java</li>
                    <li>Documentar requisitos e criação de modelos de sistemas</li>
                    <li>Implantação de Sistemas</li>
                    <li>Treinamento ao usuário</li>
                </ul>

            </div>

            <div class="tab-pane fade" id="tab_2">
                <br />
                <p>Os meus cases com Frontend iniciaram em 2014 na participação do gestor de conteúdo Portal e Site da CDHU.  Em 2015 atuei com desenvolvimento frontend consumindo api de serviços backend no Bradesco. Também apresento o este site nesta categoria.</p>
                <p class="text-primary">Minhas principais funções eram:</p>
                <ul>
                    <li>Consumo de serviços backend com client-side Ajax</li>
                    <li>Criação de páginas em HTML, CSS e JavaScript</li>
                    <li>Programação de gestor de conteúdo</li>
                    <li>Readequação de layouts de páginas existentes</li>
                    <li>Edição básica de imagens</li>
                </ul>

            </div>

            <div class="tab-pane fade" id="tab_3">
                <br />
                <p>Como Analista de Sistemas já atuei em diferentes projetos, sempre comprometido com minhas atribuições e aprimorando minhas competências técnicas e humanas. Além de ter a experiência de ter ministrado curso de banco de dados. </p>
                <p class="text-primary">Alguns segmentos onde já atuei</p>
                <div style="position:relative; float:left">
                    <ul>
                        <li>COBRANÇA CDC</li>
                        <li>LOGÍSTICA</li>
                        <li>PATRIMÓNIO PÚBLICO</li>
                        <li>TELEMETRIA</li>
                        <li>FALE CONOSCO E OUVIDÓRIA</li>
                    </ul>
                </div>
                <div style="position:relative; float:left">
                    <ul>
                        <li>CAMPANHAS DE MARKETING</li>
                        <li>REGULAMENTAÇÃO DE FUNDOS</li>
                    </ul>
                </div>

            </div>
            
        </div>

    </div>

</div>