﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="container mt-5 mb-3">

    <div class="row">
        <div class="col-md-12">

            <div class="card card-body bg-light clearfix">
                <div class="float-left">
                    <img src="~/Images/particular/adilson_praca.png" alt="Adilson Frasnelli Lustoza" class="aui-foto img-thumbnail">
                    <p>
                        Sou formado em ciência da computação pelo <a href=@(Configuration.GetSection("Link").GetSection("UniSantannaCiencia").Value)   target="_blank" title="UniSantana">Centro Universitário Sant'Anna</a>, o que me qualifica para desenvolver softwares para usos específicos, verificar e validar sistemas, criar e aprimorar documentação técnica e ainda implantar banco de dados e sistemas de segurança.

                    </p>
                    <p>
                        Trabalho na área de desenvolvimento e manutenção de softwares e aplicativos a aproximadamente                       
                        @(string.Format("{0}", Convert.ToInt32(DateTime.Now.Subtract(new DateTime(2010, 1, 1)).TotalDays / 365)))
                        anos, lidando diretamente com a inteligência de negócios. Para isso me utilizei diversas tecnologias Microsoft como As Classic, Visual Basic 6 e especificamente Asp.Net Web Forms e MVC com forte direcionamento na linguagem C#.
                    </p>
                    <p>
                        Já atuei como Analista de negócios e requisitos com ênfase em documentação de casos de uso e prototipagem, além de modelagem de domínio.
                    </p>
                    <p>
                        Devido a necessidade, também comecei a trabalhar com o desenvolvimento Frontend, onde possuo conhecimentos em JavaScript, jQuery, CSS, HTML e Frameworks como BootStrap.
                    </p>
                    <p>
                        Inclusive utilizei estes conhecimentos para desenvolver este site pessoal que você está visualizando. Ainda possuo no meu currículo experiência com a linguagem Java e framework Web Grails.
                    </p>
                    <p>
                        O Meu interesse por tecnologia me faz ser um autodidata e neste caminho surgiu o interesse pela plataforma mobile Android que estudo e atualmente aplico para desenvolver um projeto para a conclusão do meu curso em MBA em Engenharia de Software Orientada para Serviços – SOA pelo <a href=@(Configuration.GetSection("Link").GetSection("UniIBTAEngSoftware").Value) target="_blank">Instituto Brasileiro de Tecnologia Avançada - IBTA</a>.
                    </p>
                    <p>
                        A minha opção por Engenharia de Software e aprimorar e reciclar os conhecimentos em metodologias, conceitos e documentação necessária para criar produtos de softwares com melhor qualidade e ciclo de vida iterativo.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>