USE [DB_A44382_lustoza]
GO
ALTER TABLE [Security].[UserClaims] DROP CONSTRAINT [FK_Security.UserClaims_Security.Users_IdentityUser_Id]
GO
ALTER TABLE [Security].[AspNetUserRoles] DROP CONSTRAINT [FK_Security.AspNetUserRoles_Security.Users_IdentityUser_Id]
GO
ALTER TABLE [Security].[AspNetUserRoles] DROP CONSTRAINT [FK_Security.AspNetUserRoles_Security.Roles_IdentityRole_Id]
GO
ALTER TABLE [Security].[AspNetUserLogins] DROP CONSTRAINT [FK_Security.AspNetUserLogins_Security.Users_IdentityUser_Id]
GO
ALTER TABLE [DoacaoMais].[Paciente] DROP CONSTRAINT [FK_DoacaoMais.Paciente_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[NotificacaoDispositivo] DROP CONSTRAINT [FK_DoacaoMais.NotificacaoDispositivo_DoacaoMais.Notificacao_NotificacaoId]
GO
ALTER TABLE [DoacaoMais].[NotificacaoDispositivo] DROP CONSTRAINT [FK_DoacaoMais.NotificacaoDispositivo_DoacaoMais.Dispositivo_DispositivoId]
GO
ALTER TABLE [DoacaoMais].[Notificacao] DROP CONSTRAINT [FK_DoacaoMais.Notificacao_DoacaoMais.Boletim_Boletim_BoletimId]
GO
ALTER TABLE [DoacaoMais].[Noticia] DROP CONSTRAINT [FK_DoacaoMais.Noticia_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[Dispositivo] DROP CONSTRAINT [FK_DoacaoMais.Dispositivo_DoacaoMais.Usuario_Usuario_UsuarioId]
GO
ALTER TABLE [DoacaoMais].[Conteudo] DROP CONSTRAINT [FK_DoacaoMais.Conteudo_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[ContaBancaria] DROP CONSTRAINT [FK_DoacaoMais.ContaBancaria_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[Boletim] DROP CONSTRAINT [FK_DoacaoMais.Boletim_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[Bazar] DROP CONSTRAINT [FK_DoacaoMais.Bazar_DoacaoMais.Caccc_CacccId]
GO
/****** Object:  Table [Security].[Users]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [Security].[Users]
GO
/****** Object:  Table [Security].[UserClaims]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [Security].[UserClaims]
GO
/****** Object:  Table [Security].[Roles]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [Security].[Roles]
GO
/****** Object:  Table [Security].[AspNetUserRoles]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [Security].[AspNetUserRoles]
GO
/****** Object:  Table [Security].[AspNetUserLogins]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [Security].[AspNetUserLogins]
GO
/****** Object:  Table [DoacaoMais].[Usuario]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Usuario]
GO
/****** Object:  Table [DoacaoMais].[Paciente]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Paciente]
GO
/****** Object:  Table [DoacaoMais].[NotificacaoDispositivo]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[NotificacaoDispositivo]
GO
/****** Object:  Table [DoacaoMais].[Notificacao]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Notificacao]
GO
/****** Object:  Table [DoacaoMais].[Noticia]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Noticia]
GO
/****** Object:  Table [DoacaoMais].[Dispositivo]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Dispositivo]
GO
/****** Object:  Table [DoacaoMais].[Conteudo]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Conteudo]
GO
/****** Object:  Table [DoacaoMais].[ContaBancaria]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[ContaBancaria]
GO
/****** Object:  Table [DoacaoMais].[Caccc]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Caccc]
GO
/****** Object:  Table [DoacaoMais].[Boletim]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Boletim]
GO
/****** Object:  Table [DoacaoMais].[Bazar]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [DoacaoMais].[Bazar]
GO
/****** Object:  Table [dbo].[Pesquisa]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [dbo].[Pesquisa]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/04/2020 17:41:58 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/04/2020 17:41:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pesquisa]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesquisa](
	[PesquisaId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Descricao] [varchar](1500) NOT NULL,
	[Url] [varchar](500) NOT NULL,
	[Image] [varbinary](max) NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [varchar](100) NULL,
 CONSTRAINT [PK_dbo.Pesquisa] PRIMARY KEY CLUSTERED 
(
	[PesquisaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Bazar]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Bazar](
	[BazarId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NULL,
	[Informacao] [nvarchar](250) NULL,
	[Endereco_Cep] [nvarchar](10) NULL,
	[Endereco_Logradouro] [nvarchar](150) NULL,
	[Endereco_Numero] [nvarchar](10) NULL,
	[Endereco_Longitude] [float] NOT NULL,
	[Endereco_Latitude] [float] NOT NULL,
	[Endereco_Bairro] [nvarchar](50) NULL,
	[Endereco_Cidade] [nvarchar](100) NULL,
	[Endereco_Estado] [nvarchar](50) NULL,
	[Email] [nvarchar](300) NULL,
	[Telefone] [nvarchar](14) NULL,
	[OutrosContatos] [nvarchar](300) NULL,
	[UrlImagem] [nvarchar](500) NULL,
	[CacccId] [int] NOT NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.Bazar] PRIMARY KEY CLUSTERED 
(
	[BazarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Boletim]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Boletim](
	[BoletimId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NULL,
	[Descricao] [nvarchar](3500) NULL,
	[LinkWeb] [nvarchar](1000) NULL,
	[DataInicial] [datetime] NULL,
	[DataFinal] [datetime] NULL,
	[UrlImagem] [nvarchar](300) NULL,
	[Ativa] [bit] NOT NULL,
	[tipoCampanha] [int] NOT NULL,
	[CacccId] [int] NOT NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.Boletim] PRIMARY KEY CLUSTERED 
(
	[BoletimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Caccc]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Caccc](
	[CacccId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NULL,
	[Apelido] [nvarchar](150) NULL,
	[Cnpj] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[EmailPagSeguro] [nvarchar](max) NULL,
	[EmailPayPal] [nvarchar](max) NULL,
	[UrlImagem] [nvarchar](500) NULL,
	[Telefone] [nvarchar](15) NULL,
	[Celular] [nvarchar](15) NULL,
	[Autorizado] [bit] NOT NULL,
	[Responsavel] [nvarchar](50) NULL,
	[DataFundacao] [datetime] NULL,
	[TipoDoacao] [int] NOT NULL,
	[Endereco_Cep] [nvarchar](10) NULL,
	[Endereco_Logradouro] [nvarchar](150) NULL,
	[Endereco_Numero] [nvarchar](10) NULL,
	[Endereco_Longitude] [float] NOT NULL,
	[Endereco_Latitude] [float] NOT NULL,
	[Endereco_Bairro] [nvarchar](50) NULL,
	[Endereco_Cidade] [nvarchar](100) NULL,
	[Endereco_Estado] [nvarchar](50) NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.Caccc] PRIMARY KEY CLUSTERED 
(
	[CacccId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[ContaBancaria]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[ContaBancaria](
	[ContaBancariaId] [int] IDENTITY(1,1) NOT NULL,
	[NumeroBanco] [nvarchar](max) NULL,
	[NomeBanco] [nvarchar](max) NULL,
	[Agencia] [nvarchar](max) NULL,
	[Conta] [nvarchar](max) NULL,
	[Beneficiario] [nvarchar](max) NULL,
	[UrlImagem] [nvarchar](max) NULL,
	[CacccId] [int] NOT NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.ContaBancaria] PRIMARY KEY CLUSTERED 
(
	[ContaBancariaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Conteudo]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Conteudo](
	[ConteudoId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NULL,
	[Subtitulo] [nvarchar](250) NULL,
	[Coluna] [nvarchar](4000) NULL,
	[Url] [nvarchar](500) NULL,
	[CacccId] [int] NOT NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.Conteudo] PRIMARY KEY CLUSTERED 
(
	[ConteudoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Dispositivo]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Dispositivo](
	[DispositivoId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [nvarchar](150) NULL,
	[Release] [nvarchar](150) NULL,
	[Incremental] [nvarchar](150) NULL,
	[VersaoSDK] [nvarchar](150) NULL,
	[FirgirPrint] [nvarchar](150) NULL,
	[Board] [nvarchar](150) NULL,
	[Brand] [nvarchar](150) NULL,
	[Device] [nvarchar](150) NULL,
	[Manufacture] [nvarchar](150) NULL,
	[Model] [nvarchar](150) NULL,
	[Host] [nvarchar](150) NULL,
	[Code] [nvarchar](150) NULL,
	[Type] [nvarchar](150) NULL,
	[Serial] [nvarchar](150) NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
	[Usuario_UsuarioId] [int] NULL,
 CONSTRAINT [PK_DoacaoMais.Dispositivo] PRIMARY KEY CLUSTERED 
(
	[DispositivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Noticia]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Noticia](
	[NoticiaId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](300) NULL,
	[SubTitulo] [nvarchar](300) NULL,
	[Conteudo] [nvarchar](max) NULL,
	[UrlImagem] [nvarchar](500) NULL,
	[DataPublicacao] [datetime] NULL,
	[CacccId] [int] NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.Noticia] PRIMARY KEY CLUSTERED 
(
	[NoticiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Notificacao]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Notificacao](
	[NotificacaoId] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NULL,
	[Descricao] [nvarchar](500) NULL,
	[Conteudo] [nvarchar](3500) NULL,
	[DataInicial] [datetime] NULL,
	[DataFinal] [datetime] NULL,
	[Ativa] [bit] NOT NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
	[Boletim_BoletimId] [int] NULL,
 CONSTRAINT [PK_DoacaoMais.Notificacao] PRIMARY KEY CLUSTERED 
(
	[NotificacaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[NotificacaoDispositivo]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[NotificacaoDispositivo](
	[NotificacaoId] [int] NOT NULL,
	[DispositivoId] [int] NOT NULL,
 CONSTRAINT [PK_DoacaoMais.NotificacaoDispositivo] PRIMARY KEY CLUSTERED 
(
	[NotificacaoId] ASC,
	[DispositivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Paciente]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Paciente](
	[PacienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NULL,
	[Idade] [int] NULL,
	[Enfermidade] [nvarchar](45) NULL,
	[UrlImagem] [nvarchar](300) NULL,
	[CacccId] [int] NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.Paciente] PRIMARY KEY CLUSTERED 
(
	[PacienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [DoacaoMais].[Usuario]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DoacaoMais].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](150) NULL,
	[Email] [nvarchar](350) NULL,
	[DataCadastro] [datetime] NULL,
	[IdentificadorUnico] [nvarchar](max) NULL,
 CONSTRAINT [PK_DoacaoMais.Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Security].[AspNetUserLogins]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_Security.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Security].[AspNetUserRoles]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_Security.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Security].[Roles]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[Roles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Security.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Security].[UserClaims]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[IdentityUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_Security.UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Security].[Users]    Script Date: 04/04/2020 17:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[Users](
	[UserId] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Security.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pesquisa] ON 

INSERT [dbo].[Pesquisa] ([PesquisaId], [Titulo], [Descricao], [Url], [Image], [DataCadastro], [IdentificadorUnico]) VALUES (1, N'Android', N'O Android é um software para celulares, tablets e uma gama crescente de dispositivos abrangendo tudo, desde computação portátil até entretenimento para carros. Foi lançado em 2003 e é o sistema operacional móvel (SO) mais popular do mundo.', N'/Analista/Programador/Android', NULL, CAST(N'2019-11-20T14:15:43.533' AS DateTime), N'dea00c03-d5ca-4df8-b4e8-33ea5b2c1063')
INSERT [dbo].[Pesquisa] ([PesquisaId], [Titulo], [Descricao], [Url], [Image], [DataCadastro], [IdentificadorUnico]) VALUES (2, N'Engenharia de Software', N'Engenharia de Software é uma área da computação voltada à especificação, relações humanas, metodologias, liderança, boas práticas, mantenabilidade, gestão de projetos e arquitetura.', N'/Analista/Programador/EngenhariaDeSoftware', NULL, CAST(N'2019-11-20T14:15:43.570' AS DateTime), N'dfa2dfbb-36bf-421f-a2c5-9420ceaf4fbe')
INSERT [dbo].[Pesquisa] ([PesquisaId], [Titulo], [Descricao], [Url], [Image], [DataCadastro], [IdentificadorUnico]) VALUES (3, N'Sistema Web', N'Também conhecido como aplicação web, um sistema web provê funcionalidades para a manutenção do negócio da empresa, e deve ser considerado na automatização de processos.', N'/Analista/Programador/SistemasWeb', NULL, CAST(N'2019-11-20T14:15:43.570' AS DateTime), N'794af200-eb28-4652-aaa3-c2d929364a5b')
SET IDENTITY_INSERT [dbo].[Pesquisa] OFF
SET IDENTITY_INSERT [DoacaoMais].[Bazar] ON 

SET IDENTITY_INSERT [DoacaoMais].[Bazar] OFF
SET IDENTITY_INSERT [DoacaoMais].[Boletim] ON 

SET IDENTITY_INSERT [DoacaoMais].[Boletim] OFF
SET IDENTITY_INSERT [DoacaoMais].[Caccc] ON 

SET IDENTITY_INSERT [DoacaoMais].[Caccc] OFF
SET IDENTITY_INSERT [DoacaoMais].[ContaBancaria] ON 

INSERT [DoacaoMais].[ContaBancaria] ([ContaBancariaId], [NumeroBanco], [NomeBanco], [Agencia], [Conta], [Beneficiario], [UrlImagem], [CacccId], [DataCadastro], [IdentificadorUnico]) VALUES (1, NULL, N'Itau', N'806', N'48600-4', N'Centro de Apoio à Criança Carente com Câncer', NULL, 1, CAST(N'2019-11-20T14:21:33.270' AS DateTime), N'8d85ef0e-c42a-4c3a-846c-1fd48be7bd75')
INSERT [DoacaoMais].[ContaBancaria] ([ContaBancariaId], [NumeroBanco], [NomeBanco], [Agencia], [Conta], [Beneficiario], [UrlImagem], [CacccId], [DataCadastro], [IdentificadorUnico]) VALUES (2, NULL, N'Bradesco', N'0450-2', N'112.100-6', N'Razão Social: AACC – Associação de Apoio à Criança com Câncer', NULL, 2, CAST(N'2019-11-20T14:21:33.283' AS DateTime), N'78218d8b-9776-4808-bfcd-6843a803e142')
INSERT [DoacaoMais].[ContaBancaria] ([ContaBancariaId], [NumeroBanco], [NomeBanco], [Agencia], [Conta], [Beneficiario], [UrlImagem], [CacccId], [DataCadastro], [IdentificadorUnico]) VALUES (3, NULL, N'Brasil', N'5934-X', N' 40.013-0', N'Razão Social: AACC – Associação de Apoio à Criança com Câncer', NULL, 2, CAST(N'2019-11-20T14:21:33.283' AS DateTime), N'529d8c7e-513c-4292-9ad4-7325042d827e')
SET IDENTITY_INSERT [DoacaoMais].[ContaBancaria] OFF
SET IDENTITY_INSERT [DoacaoMais].[Conteudo] ON 

INSERT [DoacaoMais].[Conteudo] ([ConteudoId], [Titulo], [Subtitulo], [Coluna], [Url], [CacccId], [DataCadastro], [IdentificadorUnico]) VALUES (2, N'OBJETIVO', N'', N'<p>O Centro ''CBC'' tem como objetivo proporcionar &agrave;s crian&ccedil;as e seus acompanhantes, que vem de outros estados, em busca de tratamento, uma exten&ccedil;&atilde;o de seus lares, com moradia, alimenta&ccedil;&atilde;o, transporte e o que se fizer necess&aacute;rio para o bem estar de todos..</p>', NULL, 1, CAST(N'2019-11-20T14:21:33.277' AS DateTime), N'205de3d2-11a4-456a-a21d-40430524334d')
INSERT [DoacaoMais].[Conteudo] ([ConteudoId], [Titulo], [Subtitulo], [Coluna], [Url], [CacccId], [DataCadastro], [IdentificadorUnico]) VALUES (3, N'Nossa História', N'11/04/1985', N'<p>A nossa história começa em 11 de abril de 1985 por iniciativa do casal José Marcus Rotta e Wanir Leão Cavalcanti Rotta após experiência numa casa de apoio em Seattle, EUA, no período de 1983 a abril de 1984, em decorrência do tratamento do filho Thiago, vítima de leucemia.</p> ', NULL, 2, CAST(N'2019-11-20T14:21:33.283' AS DateTime), N'13953808-756c-4b4a-97f7-50921152eb9e')
SET IDENTITY_INSERT [DoacaoMais].[Conteudo] OFF
SET IDENTITY_INSERT [DoacaoMais].[Noticia] ON 

SET IDENTITY_INSERT [DoacaoMais].[Noticia] OFF
SET IDENTITY_INSERT [DoacaoMais].[Notificacao] ON 

SET IDENTITY_INSERT [DoacaoMais].[Notificacao] OFF
INSERT [Security].[Roles] ([Id], [Name]) VALUES (N'1610be60-fcb7-47d0-bd79-828e96eb9164', N'Blog')
INSERT [Security].[Roles] ([Id], [Name]) VALUES (N'28a72dc5-4ada-4277-b0ba-97d56c4506c2', N'DoacaoMais')
INSERT [Security].[Roles] ([Id], [Name]) VALUES (N'ce61bb71-757c-4ada-902c-4380fb059155', N'Administrator')
ALTER TABLE [DoacaoMais].[Bazar]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.Bazar_DoacaoMais.Caccc_CacccId] FOREIGN KEY([CacccId])
REFERENCES [DoacaoMais].[Caccc] ([CacccId])
GO
ALTER TABLE [DoacaoMais].[Bazar] CHECK CONSTRAINT [FK_DoacaoMais.Bazar_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[Boletim]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.Boletim_DoacaoMais.Caccc_CacccId] FOREIGN KEY([CacccId])
REFERENCES [DoacaoMais].[Caccc] ([CacccId])
GO
ALTER TABLE [DoacaoMais].[Boletim] CHECK CONSTRAINT [FK_DoacaoMais.Boletim_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[ContaBancaria]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.ContaBancaria_DoacaoMais.Caccc_CacccId] FOREIGN KEY([CacccId])
REFERENCES [DoacaoMais].[Caccc] ([CacccId])
GO
ALTER TABLE [DoacaoMais].[ContaBancaria] CHECK CONSTRAINT [FK_DoacaoMais.ContaBancaria_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[Conteudo]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.Conteudo_DoacaoMais.Caccc_CacccId] FOREIGN KEY([CacccId])
REFERENCES [DoacaoMais].[Caccc] ([CacccId])
GO
ALTER TABLE [DoacaoMais].[Conteudo] CHECK CONSTRAINT [FK_DoacaoMais.Conteudo_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[Dispositivo]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.Dispositivo_DoacaoMais.Usuario_Usuario_UsuarioId] FOREIGN KEY([Usuario_UsuarioId])
REFERENCES [DoacaoMais].[Usuario] ([UsuarioId])
GO
ALTER TABLE [DoacaoMais].[Dispositivo] CHECK CONSTRAINT [FK_DoacaoMais.Dispositivo_DoacaoMais.Usuario_Usuario_UsuarioId]
GO
ALTER TABLE [DoacaoMais].[Noticia]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.Noticia_DoacaoMais.Caccc_CacccId] FOREIGN KEY([CacccId])
REFERENCES [DoacaoMais].[Caccc] ([CacccId])
GO
ALTER TABLE [DoacaoMais].[Noticia] CHECK CONSTRAINT [FK_DoacaoMais.Noticia_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [DoacaoMais].[Notificacao]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.Notificacao_DoacaoMais.Boletim_Boletim_BoletimId] FOREIGN KEY([Boletim_BoletimId])
REFERENCES [DoacaoMais].[Boletim] ([BoletimId])
GO
ALTER TABLE [DoacaoMais].[Notificacao] CHECK CONSTRAINT [FK_DoacaoMais.Notificacao_DoacaoMais.Boletim_Boletim_BoletimId]
GO
ALTER TABLE [DoacaoMais].[NotificacaoDispositivo]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.NotificacaoDispositivo_DoacaoMais.Dispositivo_DispositivoId] FOREIGN KEY([DispositivoId])
REFERENCES [DoacaoMais].[Dispositivo] ([DispositivoId])
GO
ALTER TABLE [DoacaoMais].[NotificacaoDispositivo] CHECK CONSTRAINT [FK_DoacaoMais.NotificacaoDispositivo_DoacaoMais.Dispositivo_DispositivoId]
GO
ALTER TABLE [DoacaoMais].[NotificacaoDispositivo]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.NotificacaoDispositivo_DoacaoMais.Notificacao_NotificacaoId] FOREIGN KEY([NotificacaoId])
REFERENCES [DoacaoMais].[Notificacao] ([NotificacaoId])
GO
ALTER TABLE [DoacaoMais].[NotificacaoDispositivo] CHECK CONSTRAINT [FK_DoacaoMais.NotificacaoDispositivo_DoacaoMais.Notificacao_NotificacaoId]
GO
ALTER TABLE [DoacaoMais].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_DoacaoMais.Paciente_DoacaoMais.Caccc_CacccId] FOREIGN KEY([CacccId])
REFERENCES [DoacaoMais].[Caccc] ([CacccId])
GO
ALTER TABLE [DoacaoMais].[Paciente] CHECK CONSTRAINT [FK_DoacaoMais.Paciente_DoacaoMais.Caccc_CacccId]
GO
ALTER TABLE [Security].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_Security.AspNetUserLogins_Security.Users_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [Security].[AspNetUserLogins] CHECK CONSTRAINT [FK_Security.AspNetUserLogins_Security.Users_IdentityUser_Id]
GO
ALTER TABLE [Security].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_Security.AspNetUserRoles_Security.Roles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [Security].[Roles] ([Id])
GO
ALTER TABLE [Security].[AspNetUserRoles] CHECK CONSTRAINT [FK_Security.AspNetUserRoles_Security.Roles_IdentityRole_Id]
GO
ALTER TABLE [Security].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_Security.AspNetUserRoles_Security.Users_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [Security].[AspNetUserRoles] CHECK CONSTRAINT [FK_Security.AspNetUserRoles_Security.Users_IdentityUser_Id]
GO
ALTER TABLE [Security].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_Security.UserClaims_Security.Users_IdentityUser_Id] FOREIGN KEY([IdentityUser_Id])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [Security].[UserClaims] CHECK CONSTRAINT [FK_Security.UserClaims_Security.Users_IdentityUser_Id]
GO
