﻿     <!-- AREA CHART -->

<div class="col-sm-12">
        <div class="card-body card">
            <div class="chart">
                <canvas id="barChart" style="width: 100%; height:  300px; max-height: 100%; max-width: 100%;"></canvas>
            </div>
        </div>  
</div>


