
<div class="col-sm-12">

    <div class="col-sm-3 float-left">
        <div class="small-box bg-gradient-danger">
            <div class="inner">
                <h3>1</h3>
                <p>Autores</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-alt"></i>
            </div>
            <a href="#" class="small-box-footer">
                Mais Informação <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-sm-3 float-left">
        <div class="small-box bg-gradient-info">
            <div class="inner">
                <h3>3</h3>
                <p>Categoria</p>
            </div>
            <div class="icon">
                <i class="far fa-list-alt"></i>
            </div>
            <a href="#" class="small-box-footer">
                Mais Informação <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-sm-3 float-left">
        <div class="small-box bg-gradient-success">
            <div class="inner">
                <h3>0</h3>
                <p>Tag</p>
            </div>
            <div class="icon">
                <i class="fa fa-tag"></i>
            </div>
            <a href="#" class="small-box-footer">
                Mais Informação <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    <div class="col-sm-3 float-left">
        <div class="small-box bg-gradient-warning">
            <div class="inner">
                <h3>12</h3>
                <p>Post</p>
            </div>
            <div class="icon">
                <i class="fas fa-book-open"></i>
            </div>
            <a href="#" class="small-box-footer">
                Mais Informação <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

</div>