

<footer class="aui-footer-background container-fluid">

    <div class="container">

        <span class="aui-footer-direitos">
            Copyright   &copy;&nbsp;2017&nbsp;&nbsp;-&nbsp;&nbsp;Todos direitos reservados
        </span>


        <ul class="aui-footer-redeSocial">
            <li><a href="https://www.facebook.com/profile.php?id=100009681198367" target="_blank"><img src="~/Images/redesocial/facebook-4-32.png" alt="facebook" data-toggle="tooltip" data-placement="left" title=" facebook " style="cursor:pointer" class="img-responsive" /></a> </li>
            <li><a href="https://www.linkedin.com/in/adilson-frasnelli-lustoza-8b4940b8/" target="_blank"><img src="~/Images/redesocial/linkedin-3-32.png" alt=" linkedin " data-toggle="tooltip" data-placement="left" title=" linkedin " style="cursor:pointer" class="img-responsive" /></a></li>
            <li><a href="https://github.com/adilsonlustoza"><img src="~/Images/redesocial/github-32.png" alt="github" data-toggle="tooltip" data-placement="left" title=" github " style="cursor:pointer" class="img-responsive" /></a></li>
        </ul>


    </div>

</footer>


