﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Área Administrativa</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <environment include="Development">
        <link href="~/admin-lte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" asp-append-version="true">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link href="~/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" rel="stylesheet" asp-append-version="true" />
        <!-- iCheck -->
        <link href="~/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <!-- JQVMap -->
        <link href="~/admin-lte/plugins/jqvmap/jqvmap.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Theme style -->
        <link href="~/admin-lte/dist/css/adminlte.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- overlayScrollbars -->
        <link href="~/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Daterange picker -->
        <link href="~/admin-lte/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" asp-append-version="true" />
        <!-- summernote -->
        <link href="~/admin-lte/plugins/summernote/summernote-bs4.css" rel="stylesheet" asp-append-version="true" />
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" asp-append-version="true">
    </environment>

    @RenderSection("Styles", required: false)

</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        @{await Html.RenderPartialAsync("_NavBar"); }

        @{await Html.RenderPartialAsync("_SideBar"); }

        <div class="content-wrapper">
            @RenderBody()
        </div>

        @{await Html.RenderPartialAsync("_Footer"); }

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="~/admin-lte/plugins/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button)
        </script>
        <!-- Bootstrap 4 -->
        <script src="~/admin-lte/plugins/bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
        <!-- ChartJS -->
        <script src="~/admin-lte/plugins/chart.js/Chart.min.js" asp-append-version="true"></script>
        <!-- Sparkline -->
        <script src="~/admin-lte/plugins/sparklines/sparkline.js" asp-append-version="true"></script>
        <!-- JQVMap -->
        <!--<script src="~/admin-lte/plugins/jqvmap/jquery.vmap.min.js" asp-append-version="true"></script>-->
        <!-- <script src="~/admin-lte/plugins/jqvmap/maps/jquery.vmap.usa.js" asp-append-version="true"></script>-->
        <!-- jQuery Knob Chart -->
        <script src="~/admin-lte/plugins/jquery-knob/jquery.knob.min.js" asp-append-version="true"></script>
        <!-- daterangepicker -->
        <script src="~/admin-lte/plugins/moment/moment.min.js" asp-append-version="true"></script>

        <script src="~/admin-lte/plugins/daterangepicker/daterangepicker.js" asp-append-version="true"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="~/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" asp-append-version="true"></script>
        <!-- Summernote -->
        <script src="~/admin-lte/plugins/summernote/summernote-bs4.min.js" asp-append-version="true"></script>
        <!-- overlayScrollbars -->
        <script src="~/admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" asp-append-version="true"></script>
        <!-- AdminLTE App -->
        <script src="~/admin-lte/dist/js/adminlte.js" asp-append-version="true"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <!--<script src="~/admin-lte/dist/js/pages/dashboard.js" asp-append-version="true"></script>-->
        <!-- AdminLTE for demo purposes -->
        <script src="~/admin-lte/dist/js/demo.js" asp-append-version="true"></script>
    </environment>


    @RenderSection("Scripts", required: false)

</body>
</html>
