﻿<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Home" asp-action="Index" asp-area="Admin" asp-route-returnUrl="/Home/Index" class="nav-link">Home</a>
        </li>

     

        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Home" asp-action="Logout" asp-area="Admin" asp-route-returnUrl="/Identity/Account/Login" class="nav-link">Sair</a>
        </li>
    </ul>
      

    <ul class="navbar-nav ml-auto">  
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>