﻿<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/admin-lte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Área Administrativa</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">


        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/admin-lte/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />

            </div>
            <div class="info">
                <a href="#" class="d-block">@User.Identity.Name</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                               
                <li class="nav-header">MENU</li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Author" asp-area="Admin" class="nav-link">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>Autor</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Category" asp-area="Admin" class="nav-link">
                        <i class="nav-icon far fa-list-alt" ></i>
                        <p>Categoria</p>
                    </a>
                </li>         
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Tag"  asp-area="Admin" class="nav-link">
                        <i class="nav-icon fa fa-tag"></i>
                        <p>Tag</p>
                    </a>
                </li>              
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Post" asp-area="Admin" class="nav-link">
                        <i class="nav-icon 	fas fa-book-open"></i>
                        <p>Post</p>
                    </a>
                </li>             
             
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
