
<link href="~/bower_components/bootstrap-lightbox/docs/assets/prettify/prettify.css" rel="stylesheet" asp-append-version="true" />
<link href="~/bower_components/bootstrap-lightbox/docs/assets/css/styles.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/bower_components/bootstrap-lightbox/docs/assets/css/bootstrap-lightbox.min.css" rel="stylesheet"  asp-append-version="true"/>

<div  id="divLightBox" class="lightbox" tabindex="1" role="dialog" aria-hidden="true" style="z-index:99999"   >
    <div  class='lightbox-dialog'  style="z-index:99999" >
        <div  class='lightbox-content'>
            <img src="~/Images/portfolio/bradesco/carteira_stelo.png" />
            <div class="lightbox-caption fundo" ><p></p></div>
        </div>
    </div>
</div>

<script src="~/bower_components/bootstrap-lightbox/docs/assets/js/scale.fix.js" asp-append-version="true"></script>
<script src="~/bower_components/bootstrap-lightbox/docs/assets/prettify/prettify.js" asp-append-version="true"></script>
<script src="~/bower_components/bootstrap-lightbox/docs/assets/js/bootstrap-lightbox.js" asp-append-version="true"></script>


