
<link href="~/bower_components/bootstrap-lightbox/docs/assets/prettify/prettify.css" rel="stylesheet" />
<link href="~/bower_components/bootstrap-lightbox/docs/assets/css/styles.css" rel="stylesheet" />
<link href="~/bower_components/bootstrap-lightbox/docs/assets/css/bootstrap-lightbox.min.css" rel="stylesheet" />




<div  id="divLightBox" class="lightbox" tabindex="1" role="dialog" aria-hidden="true" style="z-index:99999"   >
    <div  class='lightbox-dialog'  style="z-index:99999" >
        <div  class='lightbox-content'>
            <img src="~/Images/portfolio/bradesco/carteira_stelo.png" />
            <div class="lightbox-caption fundo" ><p></p></div>
        </div>
    </div>
</div>


<script type="text/javascript">


    $(document).ready(function () {

        $('div.container-image').on('click', function () {

            var imgSource = $(this).find('img').first();

            if (imgSource !== null) {

                var urlImage = imgSource.data('image');
                var captionImage = imgSource.data('caption');

                var lightImage = $('div.lightbox-content').find('img').first();

                if (lightImage !== null) {
                    lightImage
                        .attr({ 'src': urlImage});

                    $('div.lightbox-caption')
                        .find('p')
                        .empty()
                        .html(captionImage)
                        .css({'text-align':'justify','color':'white'});

                    var options = {
                        backdrop: false,
                        keyboard: true,
                        show: true,
                        resizeToFit:false
                    }

                    $('#divLightBox').lightbox(options);
                }
            }

       
        });

    }); 
   

</script>




<script src="~/bower_components/bootstrap-lightbox/docs/assets/js/scale.fix.js"></script>
<script src="~/bower_components/bootstrap-lightbox/docs/assets/prettify/prettify.js"></script>
<script src="~/bower_components/bootstrap-lightbox/docs/assets/js/bootstrap-lightbox.js"></script>


