
<div class="container mb-3">

    <div class="row">
        <div class="col-md-12 mt-3 mb-2 clearfix">           
                <h1 class="text-muted go-center">O que eu faço</h1>    
                <div class="text-center">
                    <img class="img-fluid" src="~/Images/commons/divider-hand.png" />
                </div>
        </div>
    </div>
    <br />

    <div class="row">

        <div class="col-md-12">
            <div class="col-md-4 float-left ">
                <h2 class="text-danger">SISTEMA WEB</h2>

                <div class="card-container">
                    <img src="~/Images/home/web-programming.png" style="margin:12px;" class="img-fluid float-left" />
                    <span class="aui-format-span">Na Web o acesso é ilimitado, o que provê a disseminação do negócio em qualquer lugar do mundo. O framework Microsoft .Net é referência em sistemas para a plataforma.</span>
                </div>

                <div class="row">
                    <a class="btn btn-info float-left " href="@Url.Content("/Analista/Programador/SistemasWeb")">saiba mais</a>
                </div>

            </div>

            <div class="col-md-4 float-left">
                <h2 class="text-danger">ENG. DE SOFTWARE</h2>

                <div class="card-container">
                    <img src="~/Images/home/software_engineer.png"  style="margin:12px;" class="img-fluid float-left" />
                    <div class="aui-format-span">Estabeleça modelos para a construção de software para mitigar riscos. Organize, produza e de qualidade a seu produto através de especificação de processos de negócios.</div>

                </div>

                <div class="row">
                    <a class="btn btn-info float-left" href="@Url.Content("/Analista/Programador/EngenhariaDeSoftware")">saiba mais</a>
                </div>
            </div>

            <div class="col-md-4 float-left">
                <h2 class="text-danger">APLICATIVOS MÓVEIS</h2>
                <div class="card-container">
                    <img src="~/Images/home/android_robo.png" style="margin:12px; text-align:justify" class="img-fluid float-left" />
                    <span class="aui-format-span">Aplicativos mobile ocupam pouco espaço e são facéis de transportar. A vantagem do Android neste mercado é imensa. O projeto Android é baseado no Linux sendo liderado pelo Google.</span>
                </div>
                <div class="row">
                    <a class="btn btn-info  float-left" href="@Url.Content("/Analista/Programador/Android")">saiba mais</a>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    
div.card-container {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}
</style>