
    <link href="~/css/home_sobre.css" rel="stylesheet" asp-append-version="true" />

<div class="sobre_background">
    <div class="col-md-12 go-center">
        <div>
            <h1 class="text-muted text-center">sobre adilson lustoza</h1>
            <div class="go-center">
                <img src="~/Images/commons/divider-quality.png" />
            </div>
        </div>

        <div class="container">
            <p class="aui_font_about">Sou bacharel em ciência da computação e MBA em Engenharia de Software Orientada para Serviços – SOA. Atuo a aproximadamente 8 anos com desenvolvimento e manutenção de sistemas. Sou especialista na área de programação web, especificamente com a tecnologia Microsoft, porém também possuo conhecimentos com programação Android e linguagem transacional para banco de dados MS SQLServer.</p>
        </div>

        <div class="container">
            <p class="aui_font_phase">A prepotência te faz forte por um dia. A humildade para sempre!</p>
        </div>
        
    </div>
</div>

