
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home_perfil.css")" />

@{
    ViewBag.Title = "Sobre";
}


<div class="container-fluid  margin-footer clearfix">

    <div class="container page-header mt-5 mb-3">
        <h1>Sobre<small class="text-muted">  -  história e conhecimentos em TI</small></h1>   <hr />
    </div>



    <div class="container mt-5 mb-3">

        <div class="row">
            <div class="col-md-12">

                <div class="card card-body bg-light clearfix">
                    <div class="float-left">
                        <img src="~/Images/particular/adilson_praca.png" alt="Adilson Frasnelli Lustoza" class="aui-foto img-thumbnail">
                        <p>
                            Sou formado em ciência da computação pelo <a href="http://unisantanna.edu.br/cursos/ciencia-da-computacao-campus-santana/" target="_blank" title="UniSantana">Centro Universitário Sant'Anna</a>, o que me qualifica para desenvolver softwares para usos específicos, verificar e validar sistemas, criar e aprimorar documentação técnica e ainda implantar banco de dados e sistemas de segurança.

                        </p>
                        <p>
                            Trabalho na área de desenvolvimento e manutenção de softwares e aplicativos a aproximadamente 8 anos, lidando diretamente com a inteligência de negócios. Para isso me utilizei diversas tecnologias Microsoft como Asp Classic, Visual Basic 6 e especificamente Asp.Net Web Forms e MVC com forte direcionamento na linguagem C#.
                        </p>
                        <p>
                            Já atuei como Analista de negócios e requisitos com ênfase em documentação de casos de uso e prototipagem, além de modelagem de domínio.
                        </p>
                        <p>
                            Devido a necessidade, também comecei a trabalhar com o desenvolvimento Frontend, onde possuo conhecimentos em JavaScript, jQuery, CSS, HTML e Frameworks como BootStrap.
                        </p>
                        <p>
                            Inclusive utilizei estes conhecimentos para desenvolver este site pessoal que você está visualizando. Ainda possuo no meu currículo experiência com a linguagem Java e framework Web Grails.
                        </p>
                        <p>
                            O Meu interesse por tecnologia me faz ser um autodidata e neste caminho surgiu o interesse pela plataforma mobile Android que estudo e atualmente aplico para desenvolver um projeto para a conclusão do meu curso em MBA em Engenharia de Software Orientada para Serviços – SOA pelo <a href="http://www.ibta.edu.br/Cursos/Pos-Graduacao/engenharia-de-software-orientada-para-servicos" target="_blank">Instituto Brasileiro de Tecnologia Avançada - IBTA</a>.
                        </p>
                        <p>
                            A minha opção por Engenharia de Software e aprimorar e reciclar os conhecimentos em metodologias, conceitos e documentação necessária para criar produtos de softwares com melhor qualidade e ciclo de vida iterativo.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-5 mb-3">


        <div class="row">

            <div class="col-md-12">

                <div class="col-md-6 float-left">
                    <div class="page-header mb-3 clearfix">
                        <h4>Conhecimentos<small class="text-muted">  - especialidade TI </small></h4>
                    </div>


                    <p class="text-primary"><h4 class="text-muted aui-text-tab-know"> Aplicativos Android</h4></p>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="65" style="width: 45%;">
                            45%
                        </div>
                    </div>

                    <p class="text-primary"><h4 class="text-muted aui-text-tab-know">Sistemas para Web</h4></p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            75%
                        </div>
                    </div>

                    <p class="text-primary"><h4 class="text-muted aui-text-tab-know">Arquitetura de Software</h4></p>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="55" style="width: 55%;">
                            55%
                        </div>
                    </div>

                    <p><h4 class="text-muted aui-text-tab-know">Engenharia de Software</h4></p>

                    <div class="progress">
                        <div class="progress-bar " role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>

                </div>

                <div class="col-md-6 float-left">
                    <div class="page-header mb-3">
                        <h4>Experiência Profissional<small class="text-muted">  -  somente em TI </small></h4>
                    </div>

                    <div class="go-center">

                        <ul class="nav nav-tabs" id="tab" role="tablist">
                            <li class="nav-item min-vw-25"><a class="nav-link active aui-text-tab-head" href="#tab_1" data-toggle="tab" role="tab" aria-controls="tab_1" aria-selected="true">Iniciação Sistemas</a></li>
                            <li class="nav-item min-vw-25"><a class="nav-link aui-text-tab-head" href="#tab_2" data-toggle="tab" role="tab" aria-controls="tab_2" aria-selected="false">Iniciação Frontend</a></li>
                            <li class="nav-item min-vw-25 "><a class="nav-link aui-text-tab-head" href="#tab_3" data-toggle="tab" role="tab" aria-controls="tab_3" aria-selected="false">Minha Carreira</a></li>

                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab_1">
                                <br />

                                <p>Atuei com desenvolvimento e manutenção em sistemas Web Java utilizando Grails na Ecil Energia, além de desenvolver serviços windows utilizando C# com a finalidade de leitura e interpretação de dados de remotas de captação de dados de energia.</p>
                                <p class="text-primary">Minhas principais funções eram:</p>
                                <ul>
                                    <li>Programação de sistemas web utilizando Asp.Net e Grails</li>
                                    <li>Programação de sistemas batch em C# e Java</li>
                                    <li>Documentar requisitos e criação de modelos de sistemas</li>
                                    <li>Implantação de Sistemas</li>
                                    <li>Treinamento ao usuário</li>
                                </ul>

                            </div>

                            <div class="tab-pane fade" id="tab_2">
                                <br />
                                <p>Os meus cases com Frontend iniciaram em 2014 na participação do gestor de conteúdo Portal e Site da CDHU.  Em 2015 atuei com desenvolvimento frontend consumindo api de serviços backend no Bradesco. Também apresento o este site nesta categoria.</p>
                                <p class="text-primary">Minhas principais funções eram:</p>
                                <ul>
                                    <li>Consumo de serviços backend com client-side Ajax</li>
                                    <li>Criação de páginas em HTML, CSS e JavaScript</li>
                                    <li>Programação de gestor de conteúdo</li>
                                    <li>Readequação de layouts de páginas existentes</li>
                                    <li>Edição básica de imagens</li>
                                </ul>

                            </div>

                            <div class="tab-pane fade" id="tab_3">
                                <br />
                                <p>Como Analista de Sistemas já atuei em diferentes projetos, sempre comprometido com minhas atribuições e aprimorando minhas competências técnicas e humanas. Além de ter a experiência de ter ministrado curso de banco de dados. </p>
                                <p class="text-primary">Alguns segmentos onde já atuei</p>
                                <div style="position:relative; float:left">
                                    <ul>
                                        <li>COBRANÇA CDC</li>
                                        <li>LOGÍSTICA</li>
                                        <li>PATRIMÓNIO PÚBLICO</li>
                                        <li>TELEMETRIA</li>
                                        <li>FALE CONOSCO E OUVIDÓRIA</li>
                                    </ul>
                                </div>
                                <div style="position:relative; float:left">
                                    <ul>
                                        <li>CAMPANHAS DE MARKETING</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>


</div>



