@{
    ViewBag.Title = "Home Page";}

<div>
    <div>
        <div  class="row">
            @{Html.RenderPartial("_Carrossel");}
        </div>      
    </div>

    <div>
        <div class="row">
            @{Html.RenderPartial("_QueFaco");}           
        </div>
    </div>


    <div>
        <div class="row">
            @{Html.RenderPartial("_Recentes");}
        </div>
    </div>


    <div>
        <div class="row">
            @{Html.RenderPartial("_Sobre");}
        </div>
    </div>

</div>
