<script src='@Url.Content("~/bower_components/jR3DCarousel/dist/jR3DCarousel.min.js")'></script>
<script src='@Url.Content("~/Scripts/Own/mobile.js")'></script>
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/home_android.css")' />

@{
    ViewBag.Title = "Android";
}


<div class="container-fluid  margin-footer clearfix">

    <div class="container page-header  mt-5 mb-3">
        <h2 class="text-success">Aplicativos Android<small class="text-muted"> - aproximadamente em 82% dos dispositivos no Brasil</small></h2><hr />
    </div>



    <div class="container">
        <div class="row ">
            <div class="aui-font-header-service">
                <div class="col-md-12">
                    <p> O Android é um software para celulares, tablets e uma gama crescente de dispositivos abrangendo tudo, desde computação portátil até entretenimento para carros. Foi lançado em 2003 e é o sistema operacional móvel (SO) mais popular do mundo.</p>

                    <img src="~/Images/android/robo_manero.png" alt="Responsive image" class="img-responsive aui-robo-float" />

                    <p> Android é um projeto de código aberto (liderado pelo Google, mas não pertence a eles) chamado AOSP (Android Open Source Project). O Google usa esse projeto como base para criar sua versão do Android, que é usada pelos outros fabricantes.</p>

                    <p> Como um sistema operacional, o trabalho do Android é atuar como um tradutor entre você e seu dispositivo. Quando você tira uma foto, o Android fornece o botão que você pressiona e diz ao telefone o que fazer quando você a toca. Quando você faz ou recebe uma chamada, o Android conta seu telefone como fazer isso. Quando você joga um jogo, o Android diz ao jogo quais movimentos você está fazendo e quais botões você está pressionando. É como o Windows, mas para dispositivos móveis.</p>


                    <p>O próprio software Android é desenvolvido em conjunto com o Google, que lança atualizações importantes na plataforma todos os anos. Os fabricantes que executam o Android em seus telefones incluem Samsung, Huawei, Sony, Lenovo, HTC, LG e muitos outros; Atualmente, está operacional em mais de um bilhão de dispositivos.</p>


                </div>
            </div>
        </div>


        <div class="col-md-12 mt-3 mb-5">
            <h3 class="subtitle text-muted go-center">App doação mais</h3>
            <div class="go-center">
                <img src="~/Images/commons/divider-android.png" class="img-responsive" />
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12"> 
                
                <div class="col-md-4 float-left media-992" id="carousel">


                    <div class="jR3DCarouselGallery" style="margin: 0 auto;margin-bottom:20px">
                        <div class="mySlide"><img src="~/Images/android/doacao_mais/integracao_pagseguro.png" class="img-fluid img-responsive" /></div>
                        <div class="mySlide"><img src="~/Images/android/doacao_mais/entidades.png" class="img-fluid img-responsive"></div>
                        <div class="mySlide"><img src="~/Images/android/doacao_mais/facebook.png" class="img-fluid img-responsive" /></div>
                        <div class="mySlide"><img src="~/Images/android/doacao_mais/localizacao.png" class="img-fluid img-responsive" /></div>
                        <div class="mySlide"><img src="~/Images/android/doacao_mais/sobre.png" class="img-fluid img-responsive" /></div>
                    </div>


                    <div class="col-md-12">
                        <div class="col-md-6 float-left  go-center mb-1">
                            <a href="https://github.com/adilsonlustoza/AndroidStudio" class="btn btn-outline-success btn-sm" target="_blank"><span class="fab  fa-github " aria-hidden="true"></span>&nbsp;<span class="aui-font-button">ver código</span></a>
                        </div>
                        <div class="col-md-6 float-right  go-center mb-1">

                            <a href="https://play.google.com/store/apps/details?id=br.com.lustoza.doacaomais" class="btn btn-outline-secondary btn-sm" target="_blank"><span class="fab fa-google-play" aria-hidden="true"></span>&nbsp; <span class="aui-font-button">download</span> </a>

                        </div>
                    </div>


                </div>

                <div class="col-md-4 float-left media-992">
                    <h4 class="text-success"><b>Motivação</b></h4>
                   
                    <p>


                        Com intuito de divulgar as Centros de Apoio às Crianças Carentes com Câncer <strong>(CACCC)</strong>, este aplicativo foca nas dificuldades encontradas para expor as campanhas aos possíveis doadores.
                        Estas instituições do terceiro setor que prestam serviço de caráter público, expõem suas campanhas com dificuldade, esperando depósitos em suas contas sem mesmo poder identificá-los.
                        Em uma metrópole como São Paulo, poucos darão a devida importância às solicitações efetuadas por telefone e desconfiaram da veracidade das informações passadas.
                        Não lembrarão dos dados e recebendo o e-mail em sua caixa de spam, provavelmente o apagarão.
                        Desenvolvido na plataforma mobile Android, este foi proposto como artigo final no meu curso de MBA em Engenharia de Sofware.


                    </p>
                </div>

                <div class="col-md-4 float-left media-992">
                    <h4 class="text-success"> <b>Funcionalidades</b></h4>
                    
                    <ul class="list">
                        <li>&nbsp;&nbsp;Localização CACCC e Bazares no mapa</li>
                        <li>&nbsp;&nbsp;Contatar CACCC por e-mail</li>
                        <li>&nbsp;&nbsp;Traçar rota até a CACCC e Bazares</li>
                        <li>&nbsp;&nbsp;Publicação de boletins por Centros</li>
                        <li>&nbsp;&nbsp;Logar com Facebook e Google</li>
                        <li>&nbsp;&nbsp;Integração PagSeguro e PayPal</li>
                        <li>&nbsp;&nbsp;Cadastro de perfil</li>
                        <li>&nbsp;&nbsp;Listagem de Caccc, Bazares, Notícias</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



