<script src='~/js/own/portfolio.js' asp-append-version="true"></script>
<link href="~/css/home_portfolio.css" rel="stylesheet" asp-append-version="true" />
@{
    ViewBag.Title = "Experiência Profissional";
}



<div class="container-fluid margin-footer clearfix">

    <div class="container page-header  mt-5 mb-3">

        <h1>Portfólio<small class="text-muted">  - algumas funcionalidades desenvolvidas </small></h1><hr />

    </div>
    <br />

    <div class="container" id="container">


        <div class="row">

            <div class="col-md-12">

                <div class="col-md-1">
                    <div class="rotate">BRADESCO</div>
                </div>

                <div class="col-md-11 float-right">

                    <div class="col-md-4 float-left">
                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/bradesco/carteira_stelo_thumbnail.png" alt="relatorio_agendamento.png" class="image" data-image="/Images/portfolio/bradesco/carteira_stelo.png" data-caption="O que foi trabalhado na página?<br />
                                    O layout da página utiliza o padrão Tableless, onde não e utilizado na estrutura tabelas para posicionar os
                                    elementos DOM, além de links que submetem a página da campanha da Carteira Digital Stelo.
                                    Recorte e adequação de imagens utilizando Photoshop." />

                                <div class="overlay">



                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Carteira Stelo</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-left ">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/bradesco/intervencao_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/bradesco/intervencao.png" data-caption="Intervenção! O que é isso? <br />
                                            São modais demonstrados aos clientes conforme o perfil da conta bancária e fazem parte da agregação de valor pela área de Marketing.
                                            Basicamente utilizava-se Jquery Ajax consultando um serviço Rest que retorna qual banner deve ser demonstrado." />
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Intervenção Portal</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-left ">

                        <div class="polaroid ">

                            <div class="container-image">
                                <img src="~/Images/portfolio/bradesco/tabela_aposentados_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/bradesco/tabela_aposentados.png" data-caption="Informação e sempre importante!<br/>
                                            A página de pagamento de benefícios aos aposentados, consulta em um arquivo XML as datas de pagamento. Mesmo em 2017 e utilizada, pois é só atualizar o XML.
                                            Através da seleção do mês e disparado um serviço Jquery Ajax que consulta o XML em um diretório.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Tabela de aposentados 2016</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="col-md-1 ">
                    <div class="rotate">CDHU</div>
                </div>

                <div class="col-md-11 float-right">

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/cdhu/ca_cabecalho_rodape_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/cdhu/ca_cabecalho_rodape.png" data-caption="No portal da intranet da CDHU, os usuários podem cadastrar logos, escudos, textos no cabeçalho e rodapé com agendamento para datas especiais. Foi utilizado bootstrap, jquery, mvc 4, banco de dados MsSqlServer.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Cadastro de escudos e logos</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/cdhu/cdhu_widgets_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/cdhu/cdhu_widgets.png" data-caption="Através da customização de um gestor de conteúdo existente e free para baixar na internet, foi possível dar ao usuário a probabilidade do usuário escolher entre uma página com widgets na lateral do conteúdo principal ou não. Customização de código, adequado as necessidades da CDHU. ">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Readequação de Layout</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/cdhu/topico_cdhu_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/cdhu/topico_cdhu.png" data-caption="  O usuário cria a sua própria página com editores como o  ckeditor, que permitem ao usuário sem conhecimento técnico, edite conteúdo e publique no portal. Evidentemente com controle de accesso.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Cadastro de Tópicos</p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="row">

            <div class="col-md-12">

                <div class="col-md-1">
                    <div class="rotate">SECRETARIAS</div>
                </div>

                <div class="col-md-11 float-right">

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/secretariaeducacao/relatorio_agendamento_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/secretariaeducacao/relatorio_agendamento.png" data-caption="Na secretaria da educação desenvolvi módulos de Agendamento de Entregas, Sanitização,
                                            Inutilização, Situação Atípica além de WebService de cadastro de Notas Fiscais e consultas de Produtos, Escolas e etc. Controle de Versão com Git e Visual Studio Team Services.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Armazenagem</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/secretariahabitacao/fale_conosco_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/secretariahabitacao/fale_conosco.png" data-caption="Página de entrada de informações do fale conosco da Secretaria da Educação, onde ao ser salva as informações é disparado um e-mail para a área responsável para atender a solicitação, e um pequeno workflow e iniciado.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Fale Conosco</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-right">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/secretariahabitacao/formulario_newsletter_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/secretariahabitacao/formulario_newsletter.png"
                                     data-caption="Aqui o usuário cadastra uma imagem e o sistema dá a possibilidade de configurar eventos, como um clique do leitor da notícia. Para isso o usuário insere coordenadas X e Y dos links na imagem.
                                            Foi utilizado para o desenvolvimento a tecnologia Asp.Net WebForms com C# e MsSqlServer.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Newsletter</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="col-md-1 ">
                    <div class="rotate">PRINT LASER </div>
                </div>

                <div class="col-md-11 float-right">

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/printlaser/cadastro_cotas_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/printlaser/cadastro_cotas.png" data-caption="Conta de crédito de cotas para Carteiras/Campanhas dos clientes Print, que podem ser consumidas através de disparos de SMS, SMARTMESSAGE e EMAIL.
                                            Pode-se cadastras infinitas campanhas para uma carteira, pois foi desenvolvido com algoritmos recursivos em C#" />
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Cadastro de Cotas</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/printlaser/consumo_cotas_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/printlaser/consumo_cotas.png" data-caption="Relatório de consumo de cotas por Escritório, Carteira e Campanhas, disposto em modo Pivot, onde há inversão entre linhas/colunas de uma tabela.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Consumo de cotas</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4 float-left">

                        <div class="polaroid">

                            <div class="container-image">
                                <img src="~/Images/portfolio/printlaser/cadastro_clientes_unidades_usuarios_thumbnail.png" alt="Avatar" class="image" data-image="/Images/portfolio/printlaser/cadastro_clientes_unidades_usuarios.png" data-caption="Nesta tela o usuário com permissões administrativas pode agregar funcionalidades aos usuários de um determinado escritório, dando a este a possibilidade de executar as atividades sistêmicas que lhe forem atribuídas.">
                                <div class="overlay">

                                </div>

                            </div>

                            <div class="footer-polaroid">
                                <p>Permissão de usuário</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>

</div>



@{await Html.RenderPartialAsync("_ModalImage");}



