

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home_servicos.css")" />
@{
    ViewBag.Title = "Tópicos";
}

<div class="container-fluid  margin-footer clearfix">

    <div class="container page-header  mt-5 mb-3">

        <h1>Serviços<small class="text-muted"> - da análise à produção de software</small></h1><hr />

    </div>

    <br />

    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="col-md-9 float-left">

                    <p>
                        Através de levantamento de requisitos, necessidades do negócio e compreensão dos processos será realizado a etapa de aceite e abertura do projeto.
                        Para a concepção de um produto, deve-se observar alguns passos que estão descritos abaixo.
                    </p>

                    <p>
                        <ul class="list">
                            <li>Levantar os requisitos do projeto.</li>
                            <li>Analisar os requisitos e identificar regras de negócio.</li>
                            <li>Construir protótipos, se necessário para o melhor entendimento.</li>
                            <li>Gerar documentação que suporte as etapas do projeto.</li>
                            <li>Obter aprovação do requisitante do projeto.</li>
                            <li>Definir as prioridades, considerando funcionalidades de maior risco.</li>
                            <li>Estabelecer entregas modulares, para mitigar o risco.</li>
                            <li>Estabelecer os critérios de aceite do projeto.</li>
                        </ul>
                    </p>

                </div>
                <div class="col-md-3 float-right go-center">
                    <img src="~/Images/servicos/analista-negocio.png" alt="Analista de Requisitos" class="img-responsive img-rounded pull-left" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-muted go-center">Quer saber mais?</h2>
                <div class="text-center">
                    <img src="~/Images/commons/divider-settings.png" class="img-responsive go-center" />
                </div>
            </div>
        </div>

        <br />

        <div class="row">

            <div class="col-md-12" >

                <div class="col-md-4 float-left mb-2">
                    <div class="card service" id="sistemaweb">
                        <img src="~/Images/servicos/servicos-sistema-web.png" class="card-img-top" />
                        <div class="card-body caption">
                            <h3 class="go-center mt-3">Sistemas Web</h3>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 float-left mb-2">
                    <div class="card service" id="engenharia">
                        <img src="~/Images/servicos/servicos-engenharia-software.png" class="card-img-top" />
                        <div class="card-body caption">
                            <h3 class="go-center mt-3">Eng. de Software</h3>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 float-left mb-2">
                    <div class="card service" id="android">
                        <img src="~/Images/servicos/servicos-sistema-android.png" class="card-img-top" />
                        <div class="card-body caption">
                            <h3 class="go-center mt-3">Aplicativos Android</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="~/scripts//Views/Services.js"></script>

