<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home_engenharia.css")" />

@{
    ViewBag.Title = "Engenharia de Software";
}



<div class="container-fluid  margin-footer clearfix">


    <div class="container page-header  mt-5 mb-3">
        <h2 class="text-warning">Engenharia de Software<small class="text-muted"> - software com economia e confiabilidade</small></h2><hr />
    </div>



    <div class="container">


        <div class="row ">

            <div class="aui-font-header-service">

                <div class="col-md-12 aui-engenharia-text">

                    <img src="~/Images/engenharia_software/engenharia_software.png" alt="Responsive image" class="img-responsive aui-engenharia-float" />

                    <p>Engenharia de Software é uma área da computação voltada à especificação, relações humanas, metodologias, liderança, boas práticas, mantenabilidade, gestão de projetos e arquitetura.</p>

                    <p>Roger S. Pressan, reconhecido internacionalmente pelas contribuições em melhoria de processos de software,  atribui a Engenharia de Software a responsabilidade de se construir um software com economia, eficiência e confiabilidade. Aplicando uma abordagem sistemática, disciplinada e quantificável, para o desenvolvimento, operação e manutenção do software. </p>

                    <p>
                        Além disso, a engenharia de software deve oferecer mecanismos para se planejar e gerenciar o processo de desenvolvimento de um sistema computacional.

                        Ainda tem a finalidade de integrar métodos e ferramentas utilizadas para especificar, projetar, implementar e manter um sistema.
                    </p>
                </div>

            </div>

            <br />

            <div class="col-md-12 mt-2 mb-2">
                <h1 class="subtitle text-muted go-center">Conceitos introdutórios</h1>
                <div class="go-center">
                    <img src="~/Images/commons/divider-cientist.png" class="img-responsive " />
                </div>
            </div>


            <div class="col-md-12" >               
                <div class="row" id="conceitos">

                <div class="col-md-4  float-left  media-992 "  >
                    <div class="bs-callout bs-callout-info  box_min_height" id="callout-btn-group-justified-dbl-border">
                        <h4>Fundamentos</h4>
                        <p>O conjunto de atividades durante a fabricação de um software, define o que chamamos de processo de desenvolvimento de software. E este processo se divide em:</p>

                        <ul>
                            <li>
                                <strong>Qualidade</strong>
                                <p>
                                    Todo software deve atender os requisitos solicitados pelos usuários.
                                </p>
                            </li>
                            <li>
                                <br /><strong>Processos</strong>
                                <p>
                                    São modelos prescritivos que servem de referência para o projeto.
                                </p>

                            </li>
                            <li>
                                <br /><strong>Métodos</strong>
                                <p>
                                    Boas práticas, constituídas de atividades e tarefas que contribuem para o desenvolvimento do software.
                                </p>
                            </li>

                            <li>
                                <br /><strong>Ferramentas</strong>
                                <p>Automatizam o processo de desenvolvimento de software.</p>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="col-md-4 float-left media-992">
                    <div class="bs-callout bs-callout-warning box_min_height" id="callout-btn-group-justified-dbl-border">
                        <h4>Processos</h4>
                        <p>Definem os passos a serem executados pela equipe do projeto duranta a criação do software</p>

                        <ul>
                            <li>
                                <strong>RUP</strong>
                                <p>
                                    Usa a abordagem orientada a objetos  em sua concepção e é
                                    projetado e documentado utilizando a linguagem de notaçao UML.
                                    Este processo é indicado para equipes grandes e projetos complexos.
                                </p>
                            </li>
                            <li>
                                <br /><strong>SCRUM</strong>
                                <p>
                                    Metodologia que foca entrega continua, dividida em ciclos conhecidos como Sprints.
                                </p>

                            </li>
                            <li>
                                <br /><strong>XP</strong>
                                <p>
                                    Metódologia Ágil que valorisa a comunicação, simplicidade, feedback, coragem e respeito.
                                </p>
                            </li>

                            <li>
                                <br /><strong>FDD</strong>
                                <p>Metódologia Ágil para desenvolvimento orientado por funcionalidades.</p>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="col-md-4   float-left media-992">
                    <div class="bs-callout bs-callout-danger box_min_height" id="callout-btn-group-justified-dbl-border">
                        <h4>Engenharia de Sistemas</h4>
                        <p>
                            Analisa, projeta e organiza elementos em um sistema que
                            pode ser um produto, um serviço ou uma tecnologia para a
                            transformação ou controle da informação.
                        </p>

                        <p><strong>Modelagem de Sistemas</strong></p>

                        <ul>

                            <li>
                                <strong>Define arquitetura de negócios.</strong>
                                <p>
                                    Processos de negócios (BPM) alinhados aos objetivos estratégicos da
                                    empresa.
                                </p>

                            </li>

                            <li>
                                <br /><strong>Define arquitetura da informação</strong>
                                <p>
                                    Modelo de Domínio (antigo modelo conceitual de dados) reunindo todas
                                    entidades de negócio de nível corporativo.
                                </p>

                            </li>

                            <li>
                                <br /><strong>Define a arquitetura de sistemas</strong>
                                <p>
                                    Conjunto de sistemas de software (aplicações) da empresa e suas
                                    interações.
                                    Correlaciona os sistemas com seus usuários, unidades organizacionais
                                    e processos de negócio.
                                </p>

                            </li>
                        </ul>


                    </div>
                </div>
              
                </div>

            </div>

        </div>
    </div>

</div>

