<link rel="stylesheet" type="text/css" href='@Url.Content("~/Content/home_sistemaweb.css")' />

@{
    ViewBag.Title = "Sistema Web";
}


<div class="container-fluid  margin-footer clearfix">

    <div class="container page-header  mt-5 mb-3">
        <h2 class="text-danger">Sistema Web <small class="text-muted"> - automatização de processos e redução de custos operacionais </small></h2><hr />
    </div>

    <br />


    <div class="container">

        <div class="row ">

            <div class="aui-font-header-web mb-4">
                <div class="col-md-12">

                    <p>
                        Também conhecido como aplicação web,  um sistema web provê funcionalidades para a manutenção do negócio da empresa, e deve ser considerado na automatização de processos.
                        Este se difere do site, pois tem a intenção de ser uma ferramenta para auxílio nas rotinas funcionais de trabalho e integrações entre departamentos de uma empresa. Tem impacto no retorno sobre o investimento (ROI) e suporta a inteligência do negócio.
                    </p>

                    <p>
                        Já o site foca na exposição de conteúdo digital, exemplo: texto, vídeo , audio, imagens e documentos. O conteúdo de um site fica geralmente armazenado em diretórios,
                        onde as página http fazem o acesso. Estes não visam processos empresarias e nem modificações continuas da informação.
                    </p>

                    <p>
                        Uma aplicação Web é projetada para a utilização através de um navegador, podendo ser acessada por qualquer dispositivo que suporte este programa.
                        Hospedada em um servidor Web, roda transações HTTP e consomem dados provenientes de diferentes fontes de dados, como : banco de dados, arquivos (texto, xml), serviços (webservices), diretórios contendo imagens, vídeos, documentos, programas e etc.

                    </p>

                </div>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <div class="col-md-5 float-left ">

                        <p class="text-muted subtitle-min ">Algumas funcionalidades de um aplicativo web </p>

                        <ul class="list">

                            <li>Cadastros/Consultas</li>
                            <li>Relatórios/Gráficos</li>
                            <li>Exportação/Importação de arquivos</li>
                            <li>Integração de serviços</li>
                            <li>Envio de e-mail/sms</li>
                            <li>Gestão de arquivos</li>
                            <li>Controle de acesso</li>
                            <li>Mídia digital</li>

                        </ul>
                    </div>
                    <div class="col-md-6 float-right go-center">
                        <img src="~/Images/web_site/artefatos_web.png" class="img-fluid go-center ml-5 mt-5" alt="grafico" />
                    </div>
                </div>

            </div>

            <div class="col-md-12 mt-5 ">
                <h1 class="subtitle text-muted go-center">Tecnologias para sistemas web</h1>
                <div class="go-center">
                    <img src="~/Images/commons/divider-windows.png" class="img-responsive" />
                </div>

            </div>

            <div class="col-md-12 mt-5 clearfix">

                <div class="col-md-8 float-left">
                    <img src="~/Images/web_site/tecnologias.png" class="img-fluid img-responsive" alt="tecnologias"  style="position:relative;margin-top:5%" />
                </div>

                <div class="col-md-4 mt-2 float-right">
                    <dl>
                        <dt>Frontend</dt>
                        <dd>Podemos dizer que em sua anatomia temos conteúdo HTML, CSS, Scripts, Bibliotecas e Frameworks que são interpretados no navegador, conhecidos como tecnologias frontend.
                    </dl>

                    <dl>
                        <dt>Backend</dt>
                        <dd>Já no lado do servidor, também conhecido como backend temos as linguagens como Java e C#, juntamente com banco de dados MsSqlServer, MySql, Oracle e etc.</dd>
                    </dl>

                    <dl>
                        <dt>Serviços</dt>
                        <dd>Ainda do lado do servidor são programados os serviços automáticos e agendados conhecidos como Windows Services, serviços de integração como os Web Services e Api`s Rest.</dd>
                    </dl>
                </div>

            </div>

        </div>
    </div>
</div>


