@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de senha";
}

    <div class="container-fluid margin-footer">


        <div class="container page-header  mt-5 mb-3">
            <h1>Recuperar senha<small class="text-muted"> -   nova senha por e-mail </small></h1><hr />
        </div>


        <div class="container" id="container">

            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-10">
                        <section id="loginForm">
                            <p>
                                As instruções para recuperar a sua senha foram enviadas para o e-mail cadastrado. Por favor,  <a asp-page="./Login">Clique aqui para logar</a> 
                            </p>
                        </section>

                    </div>
                </div>

            </div>

        </div>

    </div>